html {
  .mobile-menu-open {
    @include respond-to(bs-tablet) {
      height: 100vh;
      overflow: hidden;

      body {
        height: 100vh;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;

        &:after {
          content: '';
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(#fff, 0);
        }
      }
    }
  }
}